// Dark
$dark-deep: #000;
$dark-1: #242424;
$dark-2: #313131;
$dark-3: #4d4d4d;
$dark-soft: #9e9d9d21;

// Light
$light-1: #eeeeee;
$light-2: #b4b4b4;
$light-3: #6d6d6d;

// $main-color: #fa8503;
$main-color: $light-1;
$orange: #fa8503;

// Additional
$trans: 0.3s all ease;
$border: 1px solid $light-3;
$shadow: 1px 1px 10px $dark-deep;
$boxGradient: linear-gradient(-35deg, #52026a, #d00686);
$btnGradient: linear-gradient(-10deg, #52026a, #d00686);
