// Dark
$dark-1: #161616;
$dark-2: #2b2b2b;
$dark-3: #4d4d4d;
$dark-soft: #9e9d9d21;

// Light
$light-1: #eeeeee;
$light-2: #dadada;
$light-3: #6d6d6d;

$main-color: #fa7203;

// Additional
$trans: 0.2s all ease;
$shadow: 1px 1px 10px $dark-1;
$boxGradient: linear-gradient(-35deg, #52026a, #fe09a5);
