@import "../../Styles/Variable.scss";

.Cart {
  .content {
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    .leftContent {
      border: $border;
      border-radius: 8px;
      padding: 10px 15px;
      flex-basis: 70%;
      .leftTop {
        justify-content: space-between;
        margin-bottom: 40px;
        border-bottom: $border;
        padding-bottom: 10px;
        .deleteAll {
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: $btn-color;
          }
          .icon {
            font-size: 22px;
          }
        }
      }
      .item {
        margin-top: 20px;
        border-bottom: $border;
        padding-bottom: 8px;
        &:last-child {
          border: none;
        }
        .itemTop {
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 20px;
          .shopName {
            font-weight: 600;
            // color: $dark-2;
            margin-bottom: 8px;
          }
          .getVoucher {
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
            &:hover {
              color: $btn-color;
            }
          }
        }
        .itemBottom {
          justify-content: space-between;
          align-items: flex-start;
          div {
            &:first-child {
              flex-basis: 0;
            }
            &:nth-child(2) {
              flex-basis: 50%;
            }
            &:nth-child(3) {
              flex-basis: 25%;
            }
            &:nth-child(4) {
              flex-basis: 25%;
            }
            img {
              width: 70px;
              height: inherit;
            }
          }
          .title {
            font-weight: 600;
            color: $dark-2;
            margin-bottom: 8px;
            text-align: justify;
            &:hover {
              color: $blue;
            }
          }
          .details {
            span {
              font-size: 13px;
            }
          }
          .Price {
            p {
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 8px;
              &:nth-child(1) {
                font-size: 22px;
                color: $btn-color;
              }
              &:nth-child(4) {
                .icon {
                  font-size: 25px;
                  cursor: pointer;

                  &:hover {
                    color: $btn-color;
                  }
                }
              }
            }
          }
          .Quentity {
            input {
              border: $border;
              outline: none;
              text-align: center;
              width: 40px;
              height: 40px;
              font-size: 20px;
              margin: 0 10px;
            }
            button {
              width: 30px;
              height: 40px;
              font-size: 20px;
              border: $border;
              outline: none;
            }
          }
        }
      }
    }
    .rightContent {
      border: $border;
      border-radius: 8px;
      padding: 10px 15px;
      flex-basis: 30%;
      height: 260px;
      .subTotal,
      .total {
        justify-content: space-between;
        margin: 15px 0;
      }
      .total {
        p {
          &:last-child {
            color: $btn-color;
          }
        }
      }
      .voucher {
        justify-content: space-between;
        input {
          flex-basis: 70%;
          border: 1px solid #d8d8d8;
          outline: none;
          font-size: 16px;
          padding: 0 10px;
          height: 40px;
          margin-right: 8px;
        }
        button {
          height: 40px;
          flex-basis: 30%;
          font-weight: 500;
          font-size: 15px;
        }
      }
      .checkout {
        width: 100%;
        background: $btn-color;
        color: $light-1;
        height: 40px;
        font-size: 17px;
        font-weight: 600;
        margin-top: 20px;
        &:hover {
          background: $btn-hover-color;
        }
      }
    }
  }
}
