@import "../../Styles/Variable.scss";

.TableData {
  /*** Table header***/
  .evaFvq {
    text-align: center;
    text-transform: capitalize;
  }
  /*** Search bar ***/
  .hMFeQo {
    // background: $dark-2;
    padding: 0;
    min-height: 0;

    input {
      font-size: 16px;
      padding: 5px 10px;
      margin-bottom: 10px;
      border: 0;
      outline: 0;
      color: $dark-2;
      background: transparent;
      border-bottom: 1px solid $dark-2;
    }
  }
  /*** Table Container ***/
  .huezRP {
    // border: $tableBorder;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    /*** Table title bar ***/
    .kGckkd,
    .mHisf {
      border-bottom: $tableBorder;
      font-size: 15px;
      text-transform: capitalize;
      // border-top-left-radius: 8px;
      // border-top-right-radius: 8px;
    }
  }
  /*** pagination bar ***/
  .hVPalX {
    .kUwhdZ {
      border: $border;
    }
    // border-bottom: $tableBorder;
    // border-left: $tableBorder;
    // border-right: $tableBorder;
    // border-bottom-left-radius: 8px;
    // border-bottom-right-radius: 8px;
  }
}
