.Form {
  flex-direction: column;
  justify-content: center;
  .title {
    margin-bottom: 20px;
  }
  .msg {
    margin-bottom: 20px;
    color: rgb(253, 53, 53);
  }
  .inputBox {
    margin-bottom: 20px;
    input {
      font-size: 16px;
    }
  }
  .login {
    font-size: 20px;
    width: 100%;
  }
}
