@import "../../Styles/Variable.scss";

.CustomizeImg {
  .left {
    width: 400px;
    background: $light-1;
    padding: 15px;

    .imageBox {
      width: 300px;
      height: 450px;
      // border: $border;
      margin-top: 15px;
      justify-content: center;
      position: relative;

      img {
        position: absolute;
      }

      .main-img {
        width: 100%;
        height: 400px;
        margin: auto;
      }

      .buttonImg {
        height: 120px;
        top: 44px;
        z-index: 1;
      }

      .nackImg {
        height: 35px;
        top: 17px;
        z-index: 100;
      }

      .pocket {
        height: auto;
        top: 86px;
      }

      .rightHand {
        width: 101px;
        height: auto;
        top: 172px;
        right: -29px;
        transform: rotate(-90deg);
      }
      .leftHand {
        width: 101px;
        height: auto;
        top: 168px;
        left: -31px;
        transform: rotate(-90deg);
      }
    }
  }

  .right {
    flex-basis: 100%;
    background: $light-1;
    padding: 15px 30px;

    .btnBox {
      flex-direction: column;
      margin-top: 30px;

      .btnParent {
        position: relative;
        .button {
          font-size: 17px;
          width: 150px;
          height: 40px;
          &:hover {
            background: $dark-2;
            color: $light-1;
          }
        }

        .btnChild {
          // background: #fff;
          background: transparent;
          box-shadow: 1px 1px 5px #cfcfcf, -1px -1px 5px #cfcfcf;
          overflow-x: scroll;
          width: 480px;
          opacity: 1;
          position: absolute;
          top: 0;
          left: 175px;
          display: -webkit-inline-box;
          transition: 0.3s all ease;

          // .btnChild.active {
          //   display: flex;
          //   transition: $trans;
          // }

          li {
            overflow: hidden;
            margin: 5px 10px;

            img {
              width: 100px;
              height: 100px;
              cursor: pointer;
              transition: $trans;
              z-index: 100;
              &:hover {
                // transform: scale(1.2);
              }
            }
          }
        }
      }
    }
    .bottomBtn {
      margin-top: 100px;
      justify-content: flex-end;
      .button {
        font-size: 17px;
        width: 150px;
        height: 40px;
        color: $light-1;
        border: none;
        transition: $trans;
        &:hover {
          width: 160px;
        }
      }
      .resetBtn {
        background: $red;
      }
    }
  }
}
