@import "../../Styles/Variable.scss";

.CustomizeImg {
  .left {
    flex-basis: 40%;
    background: $light-1;
    padding: 15px 30px;

    .imageBox {
      width: 100%;
      height: 450px;
      border: $border;
      margin-top: 15px;
      justify-content: center;
      position: relative;
      // background-color: red;

      img {
        position: absolute;
      }

      .main-img {
        width: 300px;
        height: 400px;
        margin: auto;
      }

      .pocket {
        width: 50px;
        height: auto;
        top: 86px;
        right: 135px;
      }

      .hand {
        width: 100px;
        height: auto;
        top: 180px;
        right: 27px;
        transform: rotate(-90deg);
      }
    }
  }

  .right {
    flex-basis: 60%;
    background: $light-1;
    padding: 15px 30px;

    .btnBox {
      flex-direction: column;
      margin-top: 30px;

      .btnParent {
        position: relative;
        .button {
          font-size: 17px;
          width: 150px;
          height: 40px;
          &:hover {
            background: $dark-2;
            color: $light-1;
          }
        }

        .btnChild {
          background: $light-1;
          box-shadow: 1px 1px 5px #cfcfcf, -1px -1px 5px #cfcfcf;
          width: 408px;
          position: absolute;
          top: 0;
          left: 150px;
          display: none;

          li {
            overflow: hidden;
            border: $border;

            img {
              width: 100px;
              height: 100px;
              cursor: pointer;
              transition: $trans;
              z-index: 100;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        &:hover .btnChild {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
