/*___ Login Registration Page ___*/
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: var(--light-1);
}
.form-container .form .title {
  font-size: 25px;
  margin-bottom: 10px;
}
.form-container .form {
  box-shadow: var(--box-shadow);
  padding: 30px 30px 20px 30px;
  border-radius: 8px;
  width: 60%;
}
.form-container .inputBox {
  display: flex;
  border-bottom: 1px solid var(--light-3);
  padding: 0 20px;
  margin: 50px 0;
}
.form-container .leftIcon {
  margin-right: 15px;
}
.form-container .form input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding-bottom: 10px;
  width: 100%;
  color: var(--light);
}
.form .eye {
  cursor: pointer;
}
.form-container .eye .eyeOpen {
  display: none;
}
.form-container .form .buttonDiv {
  width: 100%;
  text-align: center;
}
.form-container .form button[type="submit"] {
  padding: 8px 0;
  font-size: 20px;
  width: 60%;
  margin-top: 30px;
}
.form-container .form .formBottom {
  text-align: right;
  margin-top: 25px;
  font-size: 14px;
}
.form-container .form .formBottom a {
  color: var(--light-3);
}
.form-container .form .formBottom a:hover {
  color: var(--main);
}
.form-container .form .formBottom span {
  margin: 0 10px;
}

/* Divider */
.d-flex {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  flex-basis: 48%;
}

/*__ Image from Update profile page __*/
.form-container.d-flex {
  flex-direction: column;
}
.userImgContainer {
  width: 110px;
  height: 130px;
  margin: 10px auto;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
/* .userImgContainer img {
    overflow: hidden;
} */
.userImgContainer.overlay::after {
  content: "";
  background: #4b4b4b34;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.1s all;
  border-radius: 8px;
  transform: scale(0);
}
.userImgContainer .userImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--light-3);
}
.userImgContainer .shareIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: 25px;
  display: none;
}
.userImgContainer:hover::after {
  transform: scale(1);
}
.userImgContainer:hover .shareIcon {
  display: block;
}
