@import "../../Styles/Variable.scss";

.Invoice {
  .invoiceSection {
    border-bottom: $border;
    justify-content: space-between;
    .left {
      flex-basis: 75%;
      background: $light-1;
      padding: 10px;
      .firstTop {
        .left {
          flex-basis: 50%;
          .logo {
            width: 90px;
            height: auto;
            margin-bottom: 20px;
          }
        }
        .right {
          justify-content: flex-end;
          flex-basis: 50%;
        }
      }
    }
    .right {
      flex-basis: 25%;
      background: $light-1;
      padding: 10px;
    }
  }
  .first {
  }
}
