@import "../../Styles/Variable.scss";

.Invoice {
  .invoiceSection {
    margin-bottom: 20px;
    justify-content: space-between;
    color: $dark-3;
    .title {
      margin-bottom: 15px;
    }
    .left {
      flex-basis: 75%;
      background: $light-1;
      padding: 15px 10px;
      p {
        font-size: 14px;
        line-height: 1.7rem;
        span {
          margin-right: 20px;
        }
      }
      .firstTop {
        .left {
          flex-basis: 50%;
          .logo {
            width: 90px;
            height: auto;
            margin-bottom: 20px;
          }
        }
        .right {
          // justify-content: flex-end;
          flex-basis: 50%;
          flex-direction: column;
          background: $light-1;
          .rightInput {
            width: 100%;
            justify-content: flex-end;
            input {
              width: 150px;
            }
          }
          p {
            font-size: 14px;
            line-height: 1.7rem;
            span {
              margin-left: 5px;
            }
          }
        }
      }
      input,
      textarea {
        padding: 5px 10px;
        border-radius: 5px;
        transition: $trans;
        background: transparent;
      }
      textarea {
        resize: vertical;
      }
    }
    .right {
      flex-basis: 25%;
      justify-content: center;
      flex-direction: column;
      background: $light-1;
      padding: 15px;
      .button {
        font-size: 17px;
        width: 70%;
        justify-content: center;
        padding: 10px 0;
        // &:nth-child(2),
        // &:nth-child(3) {
        //   background: $dark-3;
        //   color: $dark-2;
        // }
      }
      select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        outline: none;
        border: $border;
        margin: 15px 0;
        color: $dark-3;
        background: transparent;
      }
    }
  }
  .first {
  }

  .css-1ex1afd-MuiTableCell-root,
  .css-177gid-MuiTableCell-root {
    border: 0;
  }
}
