@import "../../Styles/Variables.scss";

.DataTable {
  .dataGrid {
    background: $main-color;
    padding: 5px 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    .MuiDataGrid-columnHeadersInner {
      background: $dark-bg;
    }
  }
}
