@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #4154f1;
  --second: #717ff5;
  --bgColor: #f6f9ff;
  --textColor: #444444;

  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--textColor);
  background: var(--bgColor);
}
a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--second);
}
