@import "../../Styles/Variables.scss";

.Add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 30px 50px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;

    .close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 25px;
      color: $soft-color;
    }

    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 500px;

      .item {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        label {
          font-size: 14px;
        }

        input {
          padding: 7px 10px;
          background: transparent;
          outline: none;
          border: 1px solid $soft-color;
          color: $main-color;
          border-radius: 5px;
        }
      }

      button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
          background: $soft-color;
          color: $main-bg;
        }
      }
    }
  }
}
