// Dark
// $dark-1: #161616;
$dark-1: #2b2b2b;
$dark-2: #4d4d4d;
$dark-soft: #25252538;

// Light
$light-1: #fff;
$light-2: #d8d8d8;
$light-3: #8b8b8b;

// $main-color: #f85606;
$main-color: $dark-2;
$main-color-light: rgb(253 0 0 / 17%);

// Additional
$trans: 0.3s all ease;
$shadow: 1px 1px 5px $light-3;
$boxGradient: linear-gradient(-35deg, #52026a, #d00686);
$btnGradient: linear-gradient(-10deg, #52026a, #d00686);
