@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common style */
body {
  font-family: "Rubik", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.d-flex {
  display: flex;
  align-items: center;
}
.gap-20 {
  gap: 20;
}
.cursor {
  cursor: pointer;
}
