@import "../../Styles/Variable.scss";

.Table {
  .title {
    font-size: 20px;
    text-transform: capitalize;
  }
  .addBtn {
    background: $btnGradient;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
  }

  .MuiBox-root {
    .MuiDataGrid-root {
      background: $dark-2;
      color: $light-1;
      border: none;

      .css-128fb87-MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;

        .css-1eed5fa-MuiInputBase-root-MuiInput-root,
        .css-dwjt6a-MuiButtonBase-root-MuiIconButton-root {
          color: $light-1;
        }
      }

      .MuiDataGrid-columnHeaders {
        background: $dark-1;
        border: 1px solid $light-1;

        // .MuiDataGrid-columnHeadersInner {
        //   width: 100%;
        // }

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
          color: $light-1;
        }
      }

      .MuiDataGrid-virtualScroller {
        border: 1px solid $light-1;

        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
          color: $light-1;
        }
      }
    }
    .MuiTablePagination-root {
      color: $light-1;
    }
  }
}
