@import "./Variable.scss";
@import "./Responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: $main-color;
  color: $light-1;
}
::placeholder {
  color: $light-3;
}
#root {
}
body {
  // overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background: $dark-1;
  color: $light-1;
}
.main {
  .container {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    .contentContainer {
      padding-left: 200px;
      transition: $trans;
      &.bigContainer {
        padding-left: 50px;
      }
    }
  }
}

.color {
  color: red;
}
a {
  text-decoration: none;
  color: $light-blue;
  transition: $trans;
  &:hover {
    color: $blue;
  }
}
li {
  list-style: none;
}

// Additional
.d-flex {
  display: flex;
  align-items: center;
}
.d-none {
  display: none;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.flex-start {
  align-items: flex-start;
}
.button {
  background: $light-blue;
  color: $light-1;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: $trans;
  &:hover {
    background: $blue;
    color: $light-1;
  }
}
.cursor {
  cursor: pointer;
}
.angle {
  transition: $trans;
}
.angleRotate {
  transition: $trans;
  transform: rotate(-180deg);
}

// Colors
.blue {
  background: $blue;
}
.red {
  background: $red;
}

/*________________ custome scroll bar start ________________*/
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: $light-3;
}

::-webkit-scrollbar-thumb {
  background: $light-1;
}
/*________________ custome scroll bar end ________________*/
