@import "../../Styles/Variable.scss";

.ProductView {
  .content {
    justify-content: space-between;
    align-items: flex-start;
    .left {
      width: 25%;
      height: 100%;
      .slider-container {
        width: 100%;
      }
      .mainImg {
        width: 100%;
        height: auto;
      }
      .imgBtn {
        justify-content: center;
        margin-top: 10px;
        img {
          width: 50px;
          height: auto;
          cursor: pointer;
        }
      }
    }
    .middle {
      width: 45%;
      height: 100%;
      .productTitle {
        font-weight: 500;
        margin-bottom: 10px;
      }
      .rate {
        align-items: flex-start;
        justify-content: space-between;
        .icon {
          &:hover {
            color: $btn-color;
          }
        }
      }
      .brand {
        span {
          color: $dark-2;
          font-size: 12px;
          margin-top: 8px;
        }
      }
      .price {
        margin: 20px 0;
        h3 {
          font-weight: 500;
          font-size: 30px;
          color: $btn-color;
          margin-bottom: 5px;
        }
        .discount {
          font-size: 14px;
        }
      }
      .Quentity {
        margin: 40px 0;
        span {
          margin-right: 20px;
        }
        input {
          border: $border;
          outline: none;
          text-align: center;
          width: 40px;
          height: 40px;
          font-size: 20px;
          margin: 0 10px;
        }
        button {
          width: 30px;
          height: 40px;
          font-size: 20px;
        }
      }
      .buy,
      .cart {
        width: 50%;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 0;
        border: none;
        outline: none;
        transition: $trans;
      }
      .buy {
        background: $light-blue;
        &:hover {
          background: $blue;
        }
      }
      .cart {
        background: $btn-color;
        &:hover {
          background: $btn-hover-color;
        }
      }
    }
    .right {
      width: 30%;
      height: 100%;
      .topTitle {
        font-size: 14px;
        justify-content: space-between;
        margin-bottom: 15px;
      }
      .rightSection {
        margin-bottom: 30px;
        font-size: 12px;
      }
      .location {
        justify-content: space-between;
        a {
          font-size: 13px;
        }
      }
      .sellerPoint {
        justify-content: space-between;
        border-top: $border;
        padding-top: 15px;
        .percent {
          font-size: 25px;
          margin-top: 10px;
          cursor: default;
        }
      }
    }
  }
}
