@import "../../Styles/Variable.scss";

.FormContainer {
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .formCard {
    width: 80%;
    height: 100%;
    .titleBar {
      margin-bottom: 20px;
      justify-content: space-between;
      h3 {
        font-size: 20px;
        font-weight: 500;
        text-align: start;
      }
      p {
        font-size: 14px;
        a {
          font-weight: 500;
        }
      }
    }
    form {
      background: $light-1;
      box-shadow: $cardShadow;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      padding: 30px;
      .left {
        flex-basis: 55%;
        .inputBox {
          margin: 30px 0;
          border: 1px solid $dark-soft;
          width: 100%;
          input {
            width: 100%;
            border: none;
            outline: none;
            padding: 10px 15px;
            color: $dark-2;
            background: transparent;
            font-size: 17px;
            width: 100%;
            &::placeholder {
              font-size: 14px;
              color: $light-3;
            }
          }
          .showHide {
            cursor: pointer;
            margin-right: 10px;
          }
        }
        .resetPass {
          text-align: right;
          a {
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
      .right {
        flex-basis: 35%;
        .button {
          padding: 10px 0;
          font-size: 16px;
          letter-spacing: 2px;
          transition: $trans;
          width: 100%;
          cursor: pointer;
          justify-content: center;
          gap: 15px;
          // &:nth-child(3) {
          //   &:hover {
          //     color: $light-1;
          //     background: $main-color;
          //   }
          // }
          // &:nth-child(4) {
          //   &:hover {
          //     color: $light-1;
          //     background: $btn-hover-color;
          //   }
          // }
        }
        [type="submit"] {
          background: $btn-color;
          &:hover {
            background: $btn-hover-color;
          }
        }
        .google {
          background: $red;
          &:hover {
            background: $btn-hover-color;
          }
        }
        .privaciyPolicy {
          font-size: 12px;
          margin: 15px 0;
          input {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
