@import "../../Styles/Variable.scss";

.ErrorPage {
  background: $dark-1;
  width: 100%;
  height: 100vh;
  // color: $light-3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  h1 {
    font-size: 40px;
    // color: $main-color;
    // color: $dark-3;
  }
  h3 {
    font-size: 30px;
  }
}
