@import "../../Styles/Variable.scss";
@import "../../Styles/Responsive.scss";

header {
  background: $light-green;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid $light-3;
  position: sticky;
  top: 0;
  z-index: 998;
  .container {
    justify-content: space-between;
    padding: 15px 0;
    .logo {
      img {
        width: 130px;
        height: auto;
      }
    }
    .menus {
      li {
        a {
          font-size: 0.96rem;
          text-transform: capitalize;
          color: $dark-3;
          transition: $trans;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}
