.AddPlot .addRemBtn {
  width: 100%;
  justify-content: center;
}
.AddPlot .addRemBtn button {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.AddPlot .inputWrapper {
  width: 100%;
}
.AddPlot .inputWrapper input {
  margin-bottom: 30px;
  width: 100%;
  font-size: 1rem;
  padding: 10px 20px;
  border: var(--border);
  outline: none;
  background: transparent;
  color: var(--light-1);
}
